@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Fira+Code&display=swap');

html,
body,
#__next {
  background-image: url('/img/bg-texture-dark.png');
  background-repeat: repeat;
  min-height: 130vh;
  font-family: 'Fira Code', monospace;
  cursor: crosshair;
}

body {
  padding-bottom: 100px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.link-icon {
  vertical-align: middle;
}

.project-container {
  position: relative;
  display: flex;
  align-items: center;
}

.project-container:hover > .description {
  opacity: 1;
}

.project-container:hover > .thumbnail {
  opacity: 0.25;
}

.thumbnail {
  opacity: 1;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.description {
  z-index: 999;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0;
  position: absolute;
  margin: 0 auto;
  left: 18px;
  right: 18px;
  top: auto;
  text-align: center;
}
